/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; width: 100%; box-sizing: border-box; padding: 0; margin: 0; }
*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --primary: #ffe98c;

  --castle: #549ad2;//lightblue;
  --dungeon: #6a4a97;//rebeccapurple;
  --necropolis: #a8a8a7;//grey;
  --towers: lightgrey;
  --rampart: #a1c564;//green
  --fortress: #3e4a2e;//darkolivegreen;
  --inferno: #951d1e;//darkred
  --stronghold: #CCCC99;
  --conflux: #f5b2cd; //#FF99CC
  --cove: #66CC99;

  --elemental-earth: #a24f18;
  --elemental-fire: #e63323;
  --elemental-water: #3a5ba7;
  --elemental-air: #dadada;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


//#############################################################
//######################    MOVE LATER     ####################
//#############################################################
select {
  //font-family: "Times New Roman", serif;
  font-family: "Times New Roman";
  font-size: 1.6rem;
  font-weight: lighter;
  color: var(--primary);
  background: url("public/assets/shared/UI/panelcoloredbg.jpg");

  option {
    font-size: 1.6rem;
    font-weight: lighter;
    background: #2b4289;

    &.first {
      font-size: 1.7rem;
      text-align: center;
    }
  }

  optgroup {
    background: #2b4289;
    font-weight: lighter;
    font-size: 1.8rem;
  }
}
