@import "../libs/shared/ui/src/lib/styles/styles.scss";


//#############################################################
//######################    MOVE LATER     ####################
//#############################################################
select {
  //font-family: "Times New Roman", serif;
  font-family: "Times New Roman";
  font-size: 1.6rem;
  font-weight: lighter;
  color: var(--primary);
  background: url("public/assets/shared/UI/panelcoloredbg.jpg");

  option {
    font-size: 1.6rem;
    font-weight: lighter;
    background: #2b4289;

    &.first {
      font-size: 1.7rem;
      text-align: center;
    }
  }

  optgroup {
    background: #2b4289;
    font-weight: lighter;
    font-size: 1.8rem;
  }
}
